pre {
	margin-top: 25px;
	margin-bottom: 25px;
	border: 1px solid var(--metaColor);
	padding: 1rem;
	font-style: monospace;
	text-align: left;
	overflow-x: scroll;
}

:root.light {
	pre {
		@extend .inverted;
	}
}

p code,
li code,
div code {
	padding: 0 .2rem 0 .2rem;
	border-radius: .3rem;
}

p code, li code {
	background-color: var(--codeLineColor);
}
