:root,
:root.light {
  --bgColor: #EEEEEE;
  --fgColor: #41474E;
  --metaColor: var(--orange);
  --headColor: #;
  --linkColor: var(--blue);
  --dimLinkcolor: var(--dimBlue);
  --hovColor: var(--dimGreen);
  --bgSelect: var(--yellow);
  --bgUrl: url(https://i.ibb.co/Qpkrw4V/tile-Light.webp) repeat;
  /* veqev colors */
  --red: #D26878;
  --dimRed: #623039;
  --orange: #e08f67;
  --dimOrange: #926048;
  --yellow: #FFFAE1;
  --dimYellow: #D5C5A1;
  --green: #56AFA0;
  --dimGreen: #22453F;
  --blue: #5690AF;
  --dimBlue: #223844;
  --purple: #9271D6;
  --dimPurple: #47356C;
  --grey: #CBCDCD;
  --dimGrey: #646868;
  /* ftbsc colors (TODO: come up with variants) */
  --ftbscGreen: #2E8757;
  --ftbscOrange: #FF4D17;
  --ftbscReddish: #BF616A;
}

:root.dark {
  --bgColor: #222529;
  --fgColor: #D6D6D6;
  --metaColor: var(--ftbscOrange);
  --headColor: #;
  --linkColor: var(--yellow);
  --dimLinkColor: var(--dimYellow);
  --hovColor: var(--orange);
  --bgSelect: var(--dimGrey);
  --bgUrl: url(https://i.ibb.co/LzrFBFJ/tileDark.webp) repeat;
  /* veqev colors */
  --red: #CD909B;
  --dimRed: #684249;
  --orange: #E2AEA2;
  --dimOrange: #704941;
  --yellow: #DBD5BC;
  --dimYellow: #6F6847;
  --green: #78B6AD;
  --dimGreen: #3E615C;
  --blue: #87C9E5;
  --dimBlue: #38494F;
  --purple: #CEA7DE;
  --dimPurple: #5E406A;
  --grey: #CBCDCD;
  --dimGrey: #464949;
  /* ftbsc colors */
  --ftbscGreen: #2E8757;
  --ftbscOrange: #FF4D17;
  --ftbscReddish: #BF616A;
}
