table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1rem;
	line-height: 1.1
}

thead th:first-child {
	width: 20%
}

th {
	font-weight: 400
}

td,
th {
	padding: .5rem;
	border: dashed .1rem var(--metaColor);
	text-align: left;
}

