{% extends "page.html" %}

{% block content %}
<div class="error404">
	<h1>404</h1>
	<h2>not found</h2>
	<p>Yeah, sorry, it's just that boring old error. Not even a cool one like <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/418">418</a>, or a scary one like <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500">500</a>. Just a plain, old, boring <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404">404</a>: The page you were trying to reach just doesn't seem to be there, so either the link is broken or you made a typo.</p>
	<p>I suppose I shouldn't rule out the possibility that you had enough time on your hands that checking out the zaaarf.foo 404 page seemed like a productive use for it. If that's the case, I urge you to get a job or hobby ASAP.</p>
	<p>If, however, you <em>do</em> have a legitimate reason for being here, I'd appreciate it if you took the time to notify whoever sent you here that the link is broken. Cheers!</p>
</div>
{% endblock content %}
