{% extends "base.html" %}

{% block content %}
<div><a href="..">..</a>/<span class="metadata">{{ page.slug }}</span></div>
{% if config.extra.date_format.post %}
	{% set datefmt = config.extra.date_format.post %}
{% else %}
	{% set datefmt = "%Y-%m-%dT%H:%M:%S%Z" %}
{% endif %}
<time datetime="{{ page.date }}">Published on: <span class="metadata">{{ page.date | date(format=datefmt) }}</span></time>
{% if config.extra.author and config.extra.display_author == true %}
	<address rel="author">By <span class="metadata">{{config.extra.author}}</span></address>
{% endif %}

<article>{% include "base-page.html" %}</article>

{% endblock content %}
