{% extends "base.html" %}

{% block content %}
<div class="home-container"><div class="home">
	{% if config.extra.home.title %}
	<h1>{{ config.extra.home.title }}</h1>
	{% else %}
	<h1>{{ config.title }}</h1>
	{% endif %}
	{% if config.extra.home.subtitle %}
		<p>{{ config.extra.home.subtitle }}<span id="subtitleRand"></span></p>
	{% elif config.description %}
		<p>{{ config.description }}<span id="subtitleRand"></span></p>
	{% endif %}
	{% include "svg.html" %}
</div></div>
{% if config.extra.home.subtitle_suffixes %}

<script>
const suffixes = [
	{% for s in config.extra.home.subtitle_suffixes %}
	"{{ s }}",
	{% endfor %}
]
var current = suffixes[Math.floor(Math.random() * suffixes.length)];
var span = document.getElementById("subtitleRand");
span.textContent = current;
</script>
{% endif %}
{% endblock content %}
