{% extends "page.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{%- if paginator -%}
	{%- set pages = paginator.pages -%}
{%- else -%}
	{% set pages = section.pages -%}
{%- endif -%}

<ul class="title-list">
	{%- for page in pages -%}
		{%- if page.extra.date_format.list -%}	
			{%- set datefmt = page.extra.date_format.list -%}
		{%- elif section.extra.date_format.list -%}
			{%- set datefmt = section.extra.date_format.list -%}
		{%- elif config.extra.date_format.list -%}
			{%- set datefmt = config.extra.date_format.list -%}
		{%- else -%}
			{% set datefmt = " @ %Y-%m-%dT%H:%M:%S%Z" %}
		{%- endif -%}
		{%- if page.extra.redirect -%}
			{%- set page_link = page.extra.redirect -%}
		{%- else -%}
			{%- set page_link = page.permalink -%}
		{%- endif -%}
		<li><a href="{{ page_link | safe }}">{{ page.title }}
			{%- if section.extra.show_subtitle and section.extra.show_subtitle == true and page.extra.subtitle -%}
				<span class="content-subtitle"> - {{ page.extra.subtitle }}</span>
			{%- endif -%}
			<span class="content-date">{{ page.date | date(format=datefmt) }}</span>
		</a></li>
	{%- endfor -%}
</ul>

{% if paginator %}
	<div class="metadata">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp; <a href="{{ paginator.previous }}"></a>{% endif %} &nbsp; {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp; {% if paginator.next %}<a href="{{ paginator.next }}"></a> &nbsp; <a href="{{ paginator.last }}"></a>{% endif %}</div>
{% endif %}
{% endblock content %}
